*{
padding:0;
margin: 0;
}

body{
    margin: 10 10 10 10;
    background-color: floralwhite;
    
}

#title{
    color:red;
    text-align: center;
    margin-top: 50px;
    font-family: 'karla', sans-serif;
    font-weight: lighter;  
}
p{
    text-align: center;
}

#img-div {
    background-color: rosybrown;
    display: flex;
}

#image{
    /* background-color: rosybrown; */
    height: 80vh;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* padding: 10px; */
}
#img-caption {
    text-align: center;
    margin-top: 50px;
    font-family: 'karla', sans-serif;
    font-weight: lighter;  

}
/* #main{
    background-color: sienna;
} */
#tribute-info{
    text-align: center;
    margin-top: 50px;
    font-family: 'karla', sans-serif;
    font-weight: lighter;  
}
