*{
padding:0;
margin: 0;
}

body{
    margin: 10 10 10 10;
    background-color: floralwhite;
    
}
#title{
    color:red;
    text-align: center;
}
p{
    text-align: center;
}

#img-div {
    background-color: rosybrown;
}

#image{
    /* background-color: rosybrown; */
    height: 80vh;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* padding: 10px; */
}
/* #main{
    background-color: sienna;
} */
